<div class="jumbotron center">
  <h1>Welcome to MyRecipes</h1>
  <h2>The best recipe sharing app! </h2>
  <p><%= link_to "Sign up for the app",signup_path, class:"btn btn-danger btn-lg btn-xlarge" %></p>
</div>
    <div class="row">
      <% @recipes.each do |recipe| %>
      <div class="col-md-4">
        <h2><%= recipe.name.capitalize() %></h2>
        <p><%= truncate(recipe.description, length: 200) %></p>
        <p><%= link_to recipe.name, recipe_path(recipe), class: "btn btn-primary btn-xlarge"  %></p>
      </div>
      <% end %>
    </div>

